/* google font  Azeret Mono*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.google-font {
    font-family: "Azeret Mono", monospace;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    padding: 8px;
    border: 1px solid black;
    background: none;
}

.banner-img,
.banner-title,
.banner-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-size: 40px;
}

.banner-description {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-section {
    background-image: url('/assets/Hero-bg.png');
}

.btn-banner {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background: black;
}

/* first div */

.first-section {
    background: #17203409;
    padding-bottom: 50px;
    margin: 20px;
}

.development {
    margin-top: 50px;
}

.first-section {
    width: 90%;
    margin: auto;
}

.section-title {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.section-description {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.left-side {
    width: 50%;

}

.section-first-div {
    width: 90%;
    margin: auto;
    background: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, white, #cdc9c910);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.section-second-div {
    width: 90%;
    margin: auto;
    background: white;
    display: flex;
    gap: 50px;
    padding-top: 20px;
    border-radius: 15px;
    background: linear-gradient(to left, white, #9d9d9d09);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.second-img {
    margin-left: 70px;
}

.section-third-div {
    width: 90%;
    margin: auto;
    background: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, white, #cdc9c910);
    box-sizing: border-box;
    margin-bottom: 30px;



}

/* video section */

.second-img {
    margin-left: 70px;
}

.section-third-div {
    width: 90%;
    margin: auto;
    background: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, white, #cdc9c910);
    box-sizing: border-box;
    margin-bottom: 30px;



}

.video {
    display: flex;
    justify-content: center;
    align-items: center;

}

.video iframe {
    border-radius: 50px;
    border: 2px solid rgba(128, 128, 128, 0.37);
    padding: 20px;
}

/* card section */

.target-container {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.html {
    background: #ff4b1e96;
    border-radius: 10px;
    height: 250px;
    width: 30%;
    padding: 20px 15px 35px;
    box-shadow: 10px 10px 20px grey;
}

.js {
    background: #FFDF00;
    border-radius: 10px;
    height: 250px;
    width: 30%;
    padding: 20px 15px 35px;
    box-shadow: 10px 10px 20px grey;
}

.css {
    background: #004de881;
    border-radius: 10px;
    height: 250px;
    width: 30%;
    padding: 20px 15px 35px;
    box-shadow: 10px 10px 20px grey;
}

/* target section */
.target-react {
    width: 90%;
    margin: auto;
    background: rgba(223, 223, 205, 0.185);
    padding: 20px 10px 20px 30px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    gap: 40px;
    margin-bottom: 10px;
}

.node img {
    width: 90%;
    padding-top: 40px;
}

.node-js {
    margin-right: 200px;
}

/* footer */
.footer-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: 50px;
    background: #17203409;
}

.footer-content a {
    text-decoration: none;
}